<!DOCTYPE html>
<html>
  <head>
    <title>Now - Chetan Mittal Dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<header>
  <nav class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="Chetan Mittal - Senior Polyglot Web Developer"
          class="h-8 w-auto"
          src="<%= image_path('logo-cmd.jpeg') %>"
          height="32"
          width="32"
        />
        <figcaption><b>Chetan Mittal</b></figcaption>
      </figure>
      <ul class="flex space-x-4">
        <li>
          <a href="https://www.chetanmittaldev.com/" class="text-base font-bold underline hover:text-blue-600">
            Home
          </a>
        </li>
        <li>
          <a href="https://www.chetanmittaldev.com/consulting/" class="text-base font-bold underline hover:text-blue-600">
            Consulting
          </a>
        </li>
        <li>
          <a href="https://www.chetanmittaldev.com/training/" class="text-base font-bold underline hover:text-blue-600">
            Training
          </a>
        </li>
        <li>
          <a href="https://www.chetanmittaldev.com/contact/" class="text-base font-bold underline hover:text-blue-600">
            Contact
          </a>
        </li>
        <li>
          <a href="https://blog.chetanmittaldev.com/" class="text-base font-bold underline hover:text-blue-600" target="_blank">
            Blog
          </a>
        </li>
        <li>
          <a href="https://now.chetanmittaldev.com/" class="text-base font-bold" aria-current="page" title="What I am working on now?!!">
            Now
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

    <div class="py-10">
      <main class="container mx-auto">
        <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:py-8 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>

    <footer class="mx-auto mb-6 max-w-4xl p-4 sm:px-6 lg:px-8 w-2/3 text-xs">
      <div>
        <p class="text-slate-600">&copy; <%= Date.today.year %> <a href="https://www.chetanmittaldev.com" target="_blank" class="text-blue-600 hover:text-sky-600">Chetan Mittal</a>. All rights reserved. </p>
        <p class="text-slate-600">Powered by - Rails 7, HotwireJS, TailwindCSS, and PostgreSQL. <br/> Deployed on Fly.io FREE Tier.</p>
        <p class="text-slate-600">
        <a href="https://github.com/chetanmittaldev/todotiger" target="_blank">
          <img src="https://img.icons8.com/material-sharp/24/000000/github.png" />
        </a>
        </p>
      </div>
    </footer>
  </body>
</html>
